@mixin common() {
  width: 500px;
  padding: 16px;
  word-wrap: break-word;
  overflow: scroll;
  border: 1px solid #0700b8;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    display: block;
    color: #0700b8;
    margin: 16px 0;
    align-self: flex-start;
  }
  #editor {
    @include common();
    height: 200px;
  }
  #preview {
    @include common();
    height: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    #editor,
    #preview {
      width: 400px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .App {
    #editor,
    #preview {
      width: 300px;
    }
  }
}
